<div class="flex flex-col px-6 ">
    <h2 class="text-xl font-semibold text-teal-700 mb-4">Danh sách bài học</h2>
</div>
<div>
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/2 bg-gray-50 px-6">
            <ul class="space-y-3">
                <ng-container
                    *ngFor="let lesson of lessonsLeft"
                    [ngTemplateOutlet]="lessonDetail"
                    [ngTemplateOutletContext]="{ lesson: lesson }"
                >
                </ng-container>
            </ul>
        </div>

        <div class="w-full md:w-1/2 bg-white px-6">
            <ul class="space-y-3">
                <ng-container
                    *ngFor="let lesson of lessonsRight"
                    [ngTemplateOutlet]="lessonDetail"
                    [ngTemplateOutletContext]="{ lesson: lesson }"
                >
                </ng-container>
            </ul>
        </div>
    </div>
</div>

<ng-template #lessonDetail let-lesson="lesson">
    <li
        [routerLink]="lesson.url"
        class="p-3 bg-white border border-gray-200 rounded-md hover:bg-teal-100 cursor-pointer"
    >
        <h3 class="text-teal-600 font-semibold">{{ lesson.lesson }}</h3>
    </li>
</ng-template>
