<app-nav></app-nav>

<div class="overflow-auto w-3/4 mx-auto mt-28 pb-28">
    <nz-table #filterTable [nzData]="kanjis" nzTableLayout="fixed" [nzShowPagination]="false"
        [nzFrontPagination]="false">
        <thead>
            <tr class="bg-teal-100 text-teal-900">
                <th class="w-1/12 px-4 py-2 text-left">Lesson</th>
                <th class="w-2/12 px-4 py-2 text-left">Title</th>
                <th class="w-3/12 px-4 py-2 text-left" [nzFilters]="filters.structure" [nzFilterFn]="filterFn.structure">Structure</th>
                <th class="w-4/12 px-4 py-2 text-left" [nzFilters]="filters.mean" [nzFilterFn]="filterFn.mean">Mean</th>
                <th class="w-3/12 px-4 py-2 text-left" [nzFilters]="filters.explain" [nzFilterFn]="filterFn.explain">Explain</th>
            </tr>
        </thead>
        <tbody>
            @for (data of filterTable.data; track data) {
            <tr>
                <td class="w-1/12">{{ data.lesson }}</td>
                <td>{{ data.vocabulary }}</td>
                <td>
                    {{ data.vocabulary }}
                </td>
                <td>
                    {{ data.kanji }}
                </td>
                <td>
                    {{ data.kanjiVN }}
                </td>
            </tr>
            }
        </tbody>
    </nz-table>

    
</div>